20_coffee_machine_program_with_oop/__pycache__/coffee_maker.cpython-310.pyc
20_coffee_machine_program_with_oop/__pycache__/menu.cpython-310.pyc
20_coffee_machine_program_with_oop/__pycache__/money_machine.cpython-310.pyc
21_quiz_game/__pycache__